node_modules/
client/dist
.bundle/
vendor/bundle/
npm-debug.log
devmode.log
logs/radar.log
tests/sentinel/*.log
tests/sentinel/*.conf
tests/sentinel/dump*
tests/sentinel/*.pid

# mac os file explorer settings
.DS_Store
