module.exports = {
  port: 8001,
  db: 1,
  sentinel_config: {
    id: 'mymaster',
    sentinels: [
        {
            host: 'localhost',
            port: 26379
        },
        {
            host: 'localhost',
            port: 26380
        },
        {
            host: 'localhost',
            port: 26381
        }
    ]
  }
};
